@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* #3e413eb0, #141a1791 */
/* #7ed56f70, #28b48554) */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* This is for all the styling of the Welcome Page */
/* ******************* */
/* ******************* */
/* ******************* */
.WelcomePage {
  background-image: linear-gradient(to right bottom, #7ed56f70, #28b48591),
    url("./Asset1.svg");
  /* background-size: cover; */

  /* width: 100%; */
  height: 100vh !important;
  margin: 0rem;
  padding: 0rem;
  background-size: cover;
  background-position: top;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.LogoWP {
  max-width: 40rem;
}
.sbtn {
  margin: 0;
  border: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #282828;
  color: #d5a040;
  text-align: center;
  width: 25rem;
  height: fit-content;
  font-size: x-large;
  transition: all 0.2s;
}

.takeMeToSearch > a {
  display: inline-block;
  padding: 0.35em 1, 2em;
  border: 0.1em solid #d5a040;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #282828;

  text-align: center;
  width: 25rem;
  height: fit-content;
  font-size: x-large;
  transition: all 0.2s;
  clip-path: polygon(89% 0, 100% 50%, 89% 100%, 11% 100%, 0 50%, 11% 0);
}
.takeMeToSearch :hover {
  color: #000000;
  background-color: #7ed56fb0;
}
@media all and (max-width: 30em) {
  .takeMeToSearch {
    display: block;
    margin: 0.4em auto;
  }
}
.btn {
  /*dent around button*/
  /* display: inline-block; */
  position: relative;
  text-decoration: none;
  color: rgba(3, 169, 244, 0.54);
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  text-align: center;
  background: #d5a040;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  clip-path: polygon(50% 0%, 96% 24%, 96% 75%, 50% 100%, 4% 75%, 4% 25%);
}
.btn .fas {
  /*Button itself*/
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  color: #d5a040;
  background-image: -webkit-linear-gradient(#282828 0%, #282828 100%);
  background-image: linear-gradient(#282828 0%, #282828 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 0.5px #b5b5b5;
  transition: all 0.9s;
}

.btn .fas:hover {
  background-image: -webkit-linear-gradient(#7ed56fb0 0%, #28b48591 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 0.5px #d8d8d8;
}
@media all and (max-width: 30em) {
  .btn .fas {
    display: block;
    margin: 0.4em auto;
  }
}
.WelcomePage > a {
  /* clip-path: polygon(50% 0%, 96% 24%, 96% 75%, 50% 100%, 4% 75%, 4% 25%); */
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  display: flex;
  align-self: flex-end;
  padding: 0 9.7rem 0 0;
}
/* ******************* */
/* ******************* */
/* This is all stayling for the Nav-Bar for the work, home, and video page*/
.bar-icon {
  max-width: 5rem;
}
.nav-bar {
  position: fixed;
  z-index: 30;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  background-color: #282828;
  border: solid #d5a040;
  border-width: 0.2rem 0 0.3rem;
}
.link {
  text-decoration: none !important;
  color: #d5a040 !important;
  white-space: normal;
  overflow-wrap: break-word;
}

.bar {
  border-radius: 0.7rem;
  border: none;
  height: 2rem;
  width: 18rem;
  background-color: white;
  color: #8a5f12;
}
.submit {
  position: relative;
  right: 3rem;
  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  border: none;
  background-color: #d5a040;
  height: 2rem;
  width: 5.5rem;
  transition: all 0.6s;
}
.submit:hover {
  background-color: #70ad65;
}
.nav-bar > a {
  text-decoration: none;
  color: #7ed56f70;
}
.pages {
  background-image: linear-gradient(to right bottom, #7ed56f70, #28b48591),
    url("./Asset1.svg");
  /* background-size: cover; */

  /* width: 100%; */
  min-height: 100vh !important;
  margin: 0rem;
  padding: 0rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* This is all stayling for the work page*/
/* ******************* */
/* ******************* */
.page-organizer {
  display: flex;
  justify-content: center;
  /* height: 100%; */
}
.WfolderContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.WfolderContainer > h3 {
  min-height: 10rem;
}

.note-container {
  margin: 1rem 3rem;
  background-color: #282828;
  color: #d5a040;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  height: auto;
  padding: inherit;
  width: 35rem;
}
.separator {
  display: flex;
  flex-direction: column;
}
.note-card {
  margin: 1rem 3rem;
  background-color: #282828;
  color: #d5a040;
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  text-align: left;
  width: 25rem;
  height: 25rem;
  font-size: small;
}
.close-btn {
  border: none;
  background-color: #d5a040;
  position: absolute;
  top: 19rem;
  right: 0rem;
  height: 7rem;
  width: 15.5rem;
  border-bottom-right-radius: 0.5rem;
  /* border-bottom-left-radius: .5rem; */
  color: #282828;
  font-weight: 900;
  font-size: x-large;
  transition: all 0.5s;
}
.close-btn:hover {
  cursor: pointer;
  background-color: #bf1212;
  color: #eee;

  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.close-btn:active {
  top: 19.18rem;
}
/* .linking > a{
  text-decoration: none;
  color: #222;
}

.linking > a:hover{
  text-decoration: none;
  color: white;
} */
.linking {
  border: none;
  background-color: #d5a040;
  position: absolute;
  top: 19rem;
  right: 15.5rem;
  height: 7rem;
  width: 15.5rem;
  /* border-bottom-right-radius: .5rem; */
  border-bottom-left-radius: 0.5rem;
  color: #282828;
  font-weight: 900;
  font-size: x-large;
  transition: all 0.4s;
  text-align: center;
  vertical-align: 2rem;
  text-decoration: none;
  padding-top: 1.8rem;
}
.linking:hover {
  background-color: #70ad65;
  color: white;
}
.linking:active {
  top: 19.18rem;
}
/* .WfolderContainer > hr{
  display: flex;
} */
/* .line{
  position: relative;
  right: 16rem;
  top: 5rem;
  height: 60rem;
} */
/* ******************* */
/* ******************* */
/* ******************* */
.saving {
  border: none;
  background-color: #d5a040;
  position: absolute;
  top: 19rem;
  right: 0rem;
  height: 7rem;
  width: 15.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #282828;
  font-weight: 900;
  font-size: x-large;
  transition: all 0.5s;
}
.saving:hover {
  background-color: #70ad65;
  color: white;
}
.saving:active {
  top: 19.18rem;
}
.fixIt {
  margin-top: 80px;
}
.fixIt2 {
  margin-top: 50px;
}
.fixIt3 {
  margin-top: 8rem;
}
.barTitle {
  /* border-bottom-left-radius: .8rem; */
  border-top-left-radius: 0.8rem;
  border: none;
  height: 2rem;
  width: 18rem;
  background-color: white;
  color: #8a5f12;
  width: 100%;
  padding: 0.35rem;
}
.barLink {
  border: none;
  height: 2rem;
  width: 100%;
  background-color: white;
  color: #8a5f12;
  padding: 0.35rem;
}
.freakingNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit2 {
  /* position: relative; */
  width: 100%;
  right: 3rem;
  border-bottom-right-radius: 0.8rem;
  /* border-top-right-radius: .8rem; */
  border: none;
  background-color: #d5a040;
  height: 2rem;
  width: 100%;
  transition: all 0.6s;
}
.submit2:hover {
  background-color: #70ad65;
}
.final {
  font-size: 7rem;
  padding-bottom: 3rem;
  font-family: Stencil Std;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d5a040;
}
